@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
    background: white;
    padding-top: 30px;
}

#content {
    float: none;
    margin: 0 auto;
}

img {max-width: 100%}
body {max-width: none}
#doc {
    width: 90%;
    margin: 1% 5%;
    position: relative;
}
.categoryMenu>ul>li ul {
    display: none;
}
.categoryMenu>ul>li>ul {
    background: #e8e8e8;
}
.categoryMenu>ul>li>ul>li>ul {
    background: #dddddd;
}
ul {
    padding: 0px;
}

ul li {
    position: relative;
    display: block;
    padding: 0px;
}
ul li .categoryName { font-size: 1.3em }
.categoryBlock {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    position: relative;
    display: block;
    padding: 4px;
    overflow: hidden;
    border-bottom: silver solid 1px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
}
.categoryBlock:hover {box-shadow: 0 0px 4px rgba(0,0,0,0.36) inset;}
.categoryBlock:hover>.categoryName { opacity: 0.8; }
.categoryBlock:hover .box2p .fa {color: #2c539e}
.categoryAdmin {
    width: 170px;
    text-align: center;
    position: absolute;
    right: -400px;
    top: 0;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0 1px 5px rgba(0,0,0,0.44);
    color: #ffffff;
    padding: 0;
    font-size: 0.8em;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}
.categoryAdmin.showed {right: 0}
.edit,.del {
    height: 100%;
    display: block;
    float: left;
    word-wrap: break-word;
    font-size: 1.2em;
    padding: 5% 2%;

}
.edit {width: 50%; background: #2c539e; color: #ffffff}
.edit:hover {background: #4d6399}
.edit:active {background:#003ab4; color: #FFEBBF }
.del {width: 41%; margin-left: 1%; background: #d14c3f; color: #ffffff}
.del:hover {background: #e00700}
.del:active {background: red;  color: #FFEBBF}
