#site-text {
    min-height: 800px;
}

#vert {
    border-bottom: black solid 1px;

}

.thref {
    width: 80%;
    text-transform: uppercase;
    margin: 15px 0 ;
}

.oil {
    width: 95%;
    display: inline-block;
    margin: 1%;
    border: silver solid 1px;
    float: left;
    background: white;
    border-radius: 6px;
    overflow: hidden;
}

.oil-image {
    width: 135px;
    display: inline-block;
    float: left;
    border-right: silver solid 1px;
    box-shadow: 0 1px 15px black;
}

.oil-image img {
    width: 100%;
}

.oil-image:hover {
    cursor: pointer;

}

.oil-description {
    display: inline-block;
    float: left;
    padding: 0 19px;
    width: 50%;
    margin-right: 10px;
    border-right: silver solid 1px;
}

.oil-controls {
    display: inline-block;
    float: left;
    height: 100%;
    width: 26%;
    text-align: center;
}

.oil-price {
    margin-bottom: 5px;
    color: rgb(37,141,200) ;
    text-shadow: 0 1px 1px black;
    font-size: 32px;
}

.oil-state {
    margin: 0;
}

.oil-text {
    font-size: 0.9em;
}

.oil-category {
    margin: 6px 0 8px 7px;
    color: #272726;
    font-size: 1.34em;
    clear: left;
}


/* OVERLAY */

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */

}

.orderBox {
    text-align: center;
    position: relative;
    width: 400px;
    background: white;
    margin: 10% auto;
    box-shadow: 0 1px 28px black;
    border-radius: 12px;
    border: silver solid 1px;
    border-bottom: none;
    padding: 15px 0 0px 0px;
    overflow: hidden;
}

.orderBox h1 {
    margin: 0;
    color: rgb(37,141,200);
}

.orderBox p {
    max-width: 300px;
    margin: 0 auto;
}

.orderBox h2 { margin: 3px 0 11px 0; font-size: 16px}


.orderBox h3 {margin: 0}

.orderBox span {
    margin: 10px 0;
    display: block;
}

.closeOverlayButton {
    font-weight: bold;
    width: 100%;
    border: none;
    border-top: #d9d9d9 solid 1px;
    padding: 12px 0;
    margin: 15px 0 0 0;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 0 0 5px 5px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

}