<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>

    <meta name="viewport" content="width=1120"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <meta name="author" content="Snaker" />
    <meta name="keywords" content="Кит-авто, запчасти для китайских автомобилей коломна, запчасти для автомобилей китайского производства, запчасти Chery,запчасти Geely,запчасти Great Wall, запчасти Lifan,автозапчасти для тюнинга китайских автомобилей,запчасти ЧЕРИ, запчасти ГРЕЙТ ВОЛ,запчасти лифан,запчасти Коломна, Воскресенск" />
    <meta name="description" content="Компания Кит-Авто. Запчасти для китайских автомобилей. Обслуживание, тюнинг и ремонт. Московская область, Коломна." />

    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/ui/css/framework.css"/>

    <include href="/ui/common_css.html"/>
    <link rel="stylesheet" type="text/css" href="/ui/css/admin.css"/>
    <title>Кит-Авто - Запчасти для китайских автомобилей в Коломне</title>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
    <style>
        #doc {width: auto}
        .hidden {display: none}
        textarea {min-width: 450px; min-height: 200px;}
        input, select {margin-bottom: 10px}
        #shownInSidebar {margin-top: 15px}
    </style>
    <script>
        $(function(){
            $('#shownInSidebar_controller').click(function(){
                $('#shownInSidebar').toggleClass('hidden');
            });
        })
    </script>
</head>
<body>

<div id="doc" class="row centered">

<div class="box1100 centered" id="content">
    <a class="rounded_button" href="/admin">< Назад</a>
    <check if='{{isset(@current_category)}}'>
        <true><h1>Изменение раздела</h1></true>
        <false><h1>Добавление нового раздела</h1></false>
    </check>
    <div style="height: 30px"></div>
    <form action="/admin/saveCategory" method="post" enctype="multipart/form-data">

        <div class="box50p">
        <check if="{{isset(@current_category)}}">
            <true><input hidden="hidden" name="id" value="{{@current_category.id}}"></true>
        </check>

        <label for="">Заголовок</label><br>
        <input type="text" name="name" id=""
            <check if='{{isset(@current_category)}}'>
                <true>value="{{@current_category.name}}"</true>
                <false>value=""</false>
            </check>>

        <br><label for="postCategory">Родительская категория</label><br>
        <select id="postCategory" name="parent_id">
            <option value="0"><Без категории></option>
            <repeat group="{{@categories}}" value="{{@category}}">
                <option value="{{@category.id}}"
                <check if="{{isset(@current_category)}}">
                    <check if="{{@current_category.parent_id == @category.id}}">selected="selected"</check>
                </check> >{{@category.name}}
                </option>
            </repeat>
        </select>

        <br><label for="postInvisible">Видимость категории</label><br>
        <select id="postInvisible" name="hidden">
            <option value="1"
            <check if="{{isset(@current_category)}}"><check if="{{@current_category.hidden === 1}}">selected="selected"</check></check> >Скрыта от просмотра</option>
            <option value="0"
            <check if="{{isset(@current_category)}}"><check if="{{@current_category.hidden === 0}}">selected="selected"</check></check> >Видна пользователям</option>
        </select>
        <br>
            <label for="description">Описание категории</label><br>
            <textarea id="description" name="description"><check if="{{isset(@current_category)}}">{{@current_category.description}}</check></textarea>
        <br><br>
            <input type="checkbox" id="shownInSidebar_controller"> Отображать категорию в меню справа? (Только для категорий верхнего уровня)
            <div id="shownInSidebar" class="hidden">
                <div>Выберите иконку для бокового меню (30х30 пикселей) </div>
                <input type="file" name="logo_ur">
            </div>
            <hr>

        <check if="{{isset(@current_category)}}">
            <true><input type="submit" value="Обновить раздел"></true>
            <false><input type="submit" value="Создать раздел"></false>
        </check>

        </div>

        <div class="box40p">
            <h3>Изображение категории</h3>
            <check if="{{isset(@current_category_image) && (@current_category_image.url != '')}}">
                <true><img width="300" src="/{{@current_category_image.url}}" alt=""></true>
                <false><img width="300" src="/images/no_image.jpg" alt=""></false>
            </check>
            <div>Выберите новое изображение</div>
            <input type="file" name="image">
        </div>
        <div class="clearfix"></div>
    </form>
    <div class="clearfix"></div>
</div>
    <div class="clearfix"></div>
    </div>
</body>
</html>