<!DOCTYPE html>
<html>
<head>
    <include href="ui/common_css.html" />
    <title>Редактирование записи</title>

    <link rel="stylesheet" href="/js/redactor/css/redactor.css" />
    <script src="/js/redactor/jquery-1.5.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/ui/css/admin.css"/>
    <script src="/js/redactor/redactor.js"></script>
    <style>
        #content {padding: 15px 25px}
        .redactor_box textarea {
            font-size: 18px;
            line-height: 1;
            font-family: arial;
        }
    </style>
</head>
<body>

<div class="box1100" id="content">
    <a href="/admin">< Назад</a>

    <check if='{{(@post.id <> "")}}'>
        <true><h1>Редактирование записи</h1></true>
        <false><h1>Добавление новой записи</h1></false>
    </check>
<hr>
    <check if="{{isset(@post.id)}}"><a style="float: right" target="_blank" href="/post/{{@post.id}}">Просмотреть страницу</a></check>

    <form action="/admin/savePost" enctype="multipart/form-data" method="post">
        <check if="{{isset(@post.id)}}">
            <input hidden="hidden" name="id" value="{{@post.id}}">
        </check>

    <label for="postName">Заголовок</label><br>
    <input name="name" id="postName" value="{{@post.name}}">
    <br><label for="postCategory">Категория</label><br>

        <select id="postCategory" name="category_id">
        <repeat group="{{@categories}}" value="{{@category}}">
            <option value="{{@category.id}}" <check if="{{@category.id == @post.category_id}}">selected="selected"</check> >{{@category.name}}</option>
        </repeat>
        </select>

    <br><label for="postInvisible">Видимость статьи</label><br>

        <select id="postInvisible" name="invisible">
            <option value="0" <check if="{{@post.invisible === 0}}">selected="selected"</check> >Видна пользователям</option>
            <option value="1" <check if="{{@post.invisible === 1}}">selected="selected"</check> >Скрыта от просмотра</option>
        </select>

        <br><label for="postShownInNews">Показывать в новостях</label><br>
        <select id="postShownInNews" name="shown_in_news">
            <option value="0" <check if="{{@post.shown_in_news === 0}}">selected="selected"</check> >Показывать</option>
            <option value="1" <check if="{{@post.shown_in_news === 1}}">selected="selected"</check> >Не показывать</option>
        </select>

        <br><br>
    <div id="postText">
        <textarea name='content' id='editor' rows='20' cols='20'>{{@post.content}}</textarea>
    </div>

        <label for="custom_css">Дополнительные стили CSS</label><br>
        <textarea id="custom_css" name="custom_css">{{@post.custom_css}}</textarea><br>
        <label for="custom_js">Дополнительные скрипты JavaScript</label><br>
        <textarea id="custom_js" name="custom_js">{{@post.custom_js}}</textarea><br><br><br>

        <input type='submit' value='Сохранить изменения'/>
    </form>
</div>
</body>
<script>
    $(document).ready(function(){
        $('#editor').redactor({
            imageUpload: '/upload.php',
            iframe: true,
            buttons: ['video']
        });

        $('iframe').attr('style','width:100%')
    });
</script>
</html>