<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta name="viewport" content="width=960, initial-scale=0.6"/>
    <meta name="keywords" content="Автомобили и запчасти HYUNDAI (Хундай), автомобили и запчасти KIA (Киа), автомобили и запчасти SSANGYONG (Ссангенг), корейские автомобили и запчасти, в Коломне, корейские автомобили, автомобили из кореи, продажа корейских авто, запчасти hyundai kia ssangyong хундай киа ссангенг, Корея-авто, описание, ремонт, обслуживание, заказ, опт, отзывы, Коломна, Московская область, запчасти для корейских автомобилей в Коломне" />
    <meta name="description" content="Корейские автомобили. Запчасти hyundai, kia, ssangyong. Автомобили и запчасти HYUNDAI (Хундай), автомобили и запчасти KIA (Киа),  автомобили и запчасти SSANGYONG (Ссангенг), корейские автомобили и запчасти в Коломне." />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author"  content= "Snapix"  />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <include href="/ui/common_css.html" />
    <link href='http://fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic' rel='stylesheet' type='text/css'/>

    <script type="text/javascript" src="http://api-maps.yandex.ru/2.0/?coordorder=longlat&load=package.full&wizard=constructor&lang=ru-RU"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=ru"></script>
    <script type="text/javascript" src="/ui/js/jquery.js"></script>
    <script type="text/javascript" src="/ui/js/2dtransform.js"></script>
    <script type="text/javascript">
        $(function(){
            $('#a_catalog').addClass('current');
        });
    </script>
    <title>Корея-Авто. Запчасти для корейских автомобилей. Запчасти hyundai, kia, ssangyong | Коломна и Московская область</title>
</head>


<body itemscope itemtype="http://schema.org/LocalBusiness">

<img id="backimg" style="position: absolute;  margin: 0 auto; width: 100%;" src="/ui/img/5.jpg" />

<div id="site-text">
    <include href="/ui/header.html" />
    <include href="/ui/nav.html" />
        <div id="vert"></div>
        <div id="content">
            <div id="breadcrumbs">
                <h1><a class="rounded_button" href="/catalog">Каталог</a></h1>
                    <check if="{{isset(@PARAMS.categoryId)}}">
                        <check if="{{(@current.parent_id != 0)}}">> <a class="rounded_button" href="/catalog/{{@current.parent_id}}">{{@parent.name}}</a> </check>
                        > <strong>{{@current.name}}</strong>
                    </check>
            </div>

    <div class="row">
        <check if="{{isset(@categories) && count(@categories) > 0 }}">
            <h2>Подкатегории: </h2>
            <ul id="categories" class="items">
                <repeat group="{{@categories}}" value="{{@category}}">
                    <li>
                        <a href="/catalog/{{@category.id}}">
                        <check if="{{isset(@category.image)}}">
                            <true><img src="/{{@category.image}}" alt="{{@category.name}}"></true>
                            <false><img src="/images/no_image.jpg" alt=""></false>
                        </check>
                        <p>{{@category.name}}</p>
                        </a>
                    </li>
                </repeat>
            </ul>
            <div class="clearfix"></div>
        </check>
    </div>

    <check if="{{isset(@products) && count(@products) > 0}}">
        <true>
            <h3 style="margin: 1.2em 0">Продукты в категории "{{(@current.name)}}"</h3>
            <ul class="items">
                <repeat group="{{@products}}" value="{{@product}}">
                    <li>
                        <a href="/catalog/products/{{@product.id}}">
                        <check if="{{isset(@product.image) && (@product.image != '')}}">
                            <true><img src="/{{@product.image}}" alt="{{@product.name}}"></true>
                            <false><img src="/images/no_image.jpg" alt=""></false>
                        </check>
                        <p>{{@product.name}}</p></a></li>
                </repeat>
            </ul>
            <div class="clearfix"></div>
        </true>
        <false>
            <check if="{{isset(@current)}}"><div style="padding-top: 40px; font-size: 1.2em" class="text-centered"><p>В данной категории нет товаров</p> <a class="rounded_button" href="/catalog/{{@current.parent_id}}"> < Вернуться назад</a> </div></check>
        </false>
    </check>

    <div class="row">
    <check if="{{isset(@PARAMS.categoryId)}}">
        <check if="{{@current.parent_id == 0}}">
            <true>
                <div class="maincategory">
                    <h1>{{@current.name}}</h1>
                    <div class="row"><p><check if="{{isset(@current_image) && (@current_image != '')}}">
                        <img style="max-width: 400px; float: left; margin: 0 3% 3% 0" src="/{{@current_image.url}}" alt="{{@current.name}}"></check>
                    {{@current.description}}</p></div>
                </div>
            </true>
            <false>

                <div class="row"><p>{{@current.description}}</p></div>
            </false>

        </check>


    </check>
        <div class="clearfix"></div>
    </div>
</div>

<include href="ui/footer.html" />

</body>
</html>