<!DOCTYPE html>
<html>
<head>
    <include href="ui/common_css.html" />
    <title>{{@category.name}}</title>
    <style>
        header {width: 1100px; margin: 0 auto}

        #leftNav a, header h1 { color: white;  }
        header h1 {
            max-width: 36%;
            font-size: 56px;
            line-height: 0.8;
            text-shadow: 0 1px 4px black;
            margin: 60px 0;
            min-height: 120px;
        }
    </style>
</head>
<body>
<header>
    <div class="box1000 centered">
    <h1>{{@category.name}}</h1>
    </div>

    <check if="{{@navDisabled}}">
        <false>
            <nav>
                <a href="/"
                <check if="{{ @current === 0 }}">
                    class="current"
                </check>
                >Главная</a>

                <repeat group="{{ @nav }}" key="{{@key}}" value="{{ @nav_item }}" counter="{{ @ctr }}">
                    <a href="/category/{{ @nav_item.id }}"
                    <check if="{{ @current == @nav_item.id }}">class="current"</check>
                    >{{ @nav_item.name }}</a>
                </repeat>

                <a
                <check if="{{ @current === 'contacts' }}">class="current"</check>
                href="/contacts">Контакты</a>
            </nav>
        </false>
    </check>
</header>



<div class="box1100 centered" style="min-height: 620px">
    <div class="box20p" id="leftNav">
        <ul class="notlist">
        <repeat group="{{@categories}}" value="{{@category_}}">
            <li><a href="/category/{{@category_.id}}">{{@category_.name}}</a></li>
            <repeat group="{{@posts}}" value="{{@post}}">
                <check if="{{@post.category_id === @category_.id}}">
                    <li><a style="padding-left: 10px" href="/post/{{@post.id}}">{{@post.name}}</a></li>
                </check>
            </repeat>

            <repeat group="{{@category_childs}}" value="{{@child}}">
                <check if="{{@child.parent === @category_.id}}">
                   <li style="padding-left: 20px"><a href="/category/{{@child.id}}">{{@child.name}}</a></li>
                    <repeat group="{{@posts}}" value="{{@post}}">
                        <check if="{{@post.category_id === @child.id}}">
                            <li><a style="padding-left: 23px" href="/post/{{@post.id}}">{{@post.name}}</a></li>
                        </check>
                    </repeat>
                </check>
            </repeat>
        </repeat>
        </ul>
    </div>
    <div class="box2p"></div>
    <div class="box55p" id="content">
        <div class="text">
            <h2>{{@category.name}}</h2>

            {{@category.content}}
            <hr>
            <ul class="notlist">
                <repeat group="{{@categories}}" value="{{@category_}}">

                    <repeat group="{{@category_childs}}" value="{{@child}}">
                        <check if="{{@child.parent === @category_.id}}">
                            <li style="padding-left: 3px"><a href="/category/{{@child.id}}">{{@child.name}}</a></li>
                            <repeat group="{{@posts}}" value="{{@post}}">
                                <check if="{{@post.category_id === @child.id}}">
                                    <li><a href="/post/{{@post.id}}">{{@post.name}}</a></li>
                                </check>
                            </repeat>
                        </check>
                    </repeat>

                    <repeat group="{{@posts}}" value="{{@post}}">
                        <check if="{{@post.category_id === @category_.id}}">
                            <li style="padding-left: 10px"><a href="/post/{{@post.id}}">{{@post.name}}</a></li>
                        </check>
                    </repeat>
                </repeat>
            </ul>

        </div>
    </div>
    <div class="box2p"></div>
    <div class="box20p">
        <div class="sidebar">

        </div>
    </div>
    <div class="clearfix"></div>
</div>
<include href="ui/footer.html"/>
</body>
</html>