<!DOCTYPE html>
<html>
<head>
    <include href="ui/common_css.html" />
    <title>Категории</title>
</head>
<body>
<include href="ui/header.html" />
<h1>Категории - {{ @params[1] }}</h1>

<div id="content"></div>

</body>
</html>