<footer id="footer">
    <div id="footbox" >


        <span itemprop="name">Корея-Авто. Запчасти для корейских авто.</span><br />


        <div class="counters" style="background: none;  position: relative;  display: inline-block;" >
            <a href="http://www.snapix.ru">Сделано в Snapix</a><br />
            <!--LiveInternet counter--><script type="text/javascript"><!--
                document.write("<a href='http://www.liveinternet.ru/click' "+
                        "target=_blank><img src='//counter.yadro.ru/hit?t12.11;r"+
                        escape(document.referrer)+((typeof(screen)=="undefined")?"":
                        ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
                                screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
                        ";"+Math.random()+
                        "' alt='' title='LiveInternet: показано число просмотров за 24"+
                        " часа, посетителей за 24 часа и за сегодня' "+
                        "border='0' width='88' height='31'><\/a>")
        </script><!--/LiveInternet-->

            <!-- begin of Top100 code -->

            <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?2720262"></script>
            <noscript>
                <a href="http://top100.rambler.ru/navi/2720262/">
                    <img src="http://counter.rambler.ru/top100.cnt?2720262" alt="Rambler's Top100" border="0" />
                </a>

            </noscript>
            <!-- end of Top100 code -->

            <!-- Yandex.Metrika informer -->
            <a href="http://metrika.yandex.ru/stat/?id=23635237&amp;from=informer"
               target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23635237/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                                   style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:23635237,lang:'ru'});return false}catch(e){}"/></a>
            <!-- /Yandex.Metrika informer -->

            <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function() {
                        try {
                            w.yaCounter23635237 = new Ya.Metrika({id:23635237,
                                clickmap:true,
                                trackLinks:true,
                                accurateTrackBounce:true});
                        } catch(e) { }
                    });

                    var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript><div><img src="//mc.yandex.ru/watch/23635237" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->

        </div>
    </div>
</footer>