<!DOCTYPE html>
<html>
<head>
    <include href="ui/common_css.html" />
    <script src="/js/jquery-1.9.0.min.js"></script>
    <script src="/js/fancybox/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="/js/fancybox/jquery.fancybox.css" type="text/css">
    <title> <check if="{{isset(@post)}}">{{@post.name}}</check></title>

    <script>
        $(function(){
            var imgs = $('#content .text img');

            for (var i=0; i < imgs.length; i++){
                imgs[i].style.cursor  = "pointer";
                var imageStyle = $(imgs[i]).attr('style');
                var newLinkForFancybox = "<a class='fancybox' href='"+imgs[i].src+"'><img style='"+imageStyle+"' alt='' src='"+imgs[i].src+"'></a>";
                console.log(imageStyle);
                $(imgs[i]).replaceWith(newLinkForFancybox);
            }

            $('#content .fancybox').fancybox();
        });
    </script>
</head>
<body>
<include href="ui/header.html" />

<div class="box1100 centered">
    <div class="box20p">
        <include href="ui/sidebar.html"/>
    </div>
    <div class="box2p"></div>
    <div class="box75p" id="content">
        <div class="text">
            <check if="{{isset(@post)}}">
            <h1>{{@post.name}}</h1>
            {{@post.content}}
            </check>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<include href="ui/footer.html"/>
</body>
</html>