<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta name="viewport" content="width=960, initial-scale=0.6"/>
    <meta name="keywords" content="Автомобили и запчасти HYUNDAI (Хундай), автомобили и запчасти KIA (Киа), автомобили и запчасти SSANGYONG (Ссангенг), корейские автомобили и запчасти, в Коломне, корейские автомобили, автомобили из кореи, продажа корейских авто, запчасти hyundai kia ssangyong хундай киа ссангенг, Корея-авто, описание, ремонт, обслуживание, заказ, опт, отзывы, Коломна, Московская область, запчасти для корейских автомобилей в Коломне" />
    <meta name="description" content="Корейские автомобили. Запчасти hyundai, kia, ssangyong. Автомобили и запчасти HYUNDAI (Хундай), автомобили и запчасти KIA (Киа),  автомобили и запчасти SSANGYONG (Ссангенг), корейские автомобили и запчасти в Коломне." />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author"  content= "Snapix"  />

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <include href="/ui/common_css.html" />
    <link href='http://fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic' rel='stylesheet' type='text/css'/>

    <script type="text/javascript" src="http://api-maps.yandex.ru/2.0/?coordorder=longlat&load=package.full&wizard=constructor&lang=ru-RU"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=ru"></script>
    <script type="text/javascript" src="/ui/js/jquery.js"></script>
    <script type="text/javascript" src="/ui/js/2dtransform.js"></script>
    <title><check if="{{isset(@product)}}">Купить {{@product.name}} арт. {{@product.article}} в магазине Корея-Авто</check></title>
    <style type="text/css">
        h1 {font-size: 1.3em; display: inline; margin-bottom: 0}
        h2 {margin-bottom: 1.3em}
        .product {margin: 25px 0 50px 0;}
        #doc .product h2 {margin: 35px 0 25px 0; font-size: 2.3em}
        .product-image img {display: block}
        .price {font-size: 3em; color: #c50700}
        #doc {
            width: 705px;
            min-height: 500px;
            float: left;
        }
        .product-image img {max-width: 100%}
        .rounded {border-radius: 50%}
    </style>
</head>

<body itemscope itemtype="http://schema.org/LocalBusiness">

<img id="backimg" style="position: absolute;  margin: 0 auto; width: 100%;" src="/ui/img/5.jpg" />

<div id="site-text">
    <include href="/ui/header.html" />
    <include href="/ui/nav.html" />
    <div id="vert"></div>
    <div class="box5p" style="width: 3%"></div>
    <div class="box66p">

    <div id="breadcrumbs">
        <a class="rounded_button" href="/catalog">Каталог</a>
        <check if="{{isset(@PARAMS.categoryId)}}">> <a href="/catalog/{{@current.parent_id}}">{{@parent.name}}</a></check>
        <check if="{{isset(@breadcrumbs)}}">
            <repeat group="{{@breadcrumbs}}" value="{{@breadcrumb}}">
               > <a class="rounded_button" href="/catalog/{{@breadcrumb.id}}">{{@breadcrumb.name}}</a>
            </repeat>
        </check>
        <check if="{{isset(@product)}}">> <strong>{{@product.name}}</strong></check>
    </div>

    <check if="{{isset(@product)}}">
        <div class="row product">
            <h2>{{@product.name}}</h2>

            <div class="box40p text-centered product-image rounded">
            <check if="{{isset(@productImage)}}">
                <true><img class="centered" src="/{{@productImage}}" alt="купить {{@product.name}}"></true>
                <false><img class="centered rounded" src="/images/no_image.jpg" alt="Кит-Авто запчасти для китайских автомобилей в Коломне"></false>
            </check>
            </div>

            <div class="box5p"></div>
            <div class="box50p">
                Артикул:  <h1 style="">{{@product.article}}</h1>
                <h3 class="price">{{@product.price}} <span class="rub">c</span></h3>
                <h3><strong style="color: {{@product_state_color}} ">{{@product_state}}</strong></h3>
                <div class="row clearfix" style="margin-top: 2em">
                    <h4>Описание</h4>
                    <p style="min-height: 50px">{{@product.description}}</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <check if="{{isset(@similar_products) && count(@similar_products) > 0}}">
            <div id="similar_products" class="row">
                <h2>Продукты той же категории</h2>
                <ul class="items">
                <repeat group="{{@similar_products}}" value="{{@product_}}">
                    <li>
                        <a href="/catalog/products/{{@product_.id}}">
                            <check if="{{isset(@product_.image) && (@product_.image != '')}}">
                                <true><img src="/{{@product_.image}}" alt="{{@product_.name}}"></true>
                                <false><img src="/images/no_image.jpg" alt=""></false>
                            </check>
                            <p>{{@product_.name}}</p>
                        </a>
                    </li>
                </repeat>
                </ul>
            </div>
        </check>
    </check>
    <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<include href="/ui/footer.html" />

</body>
</html>