<div id="rightSidebarDummy" class="text-centered">
<a href="/kremlinsheme">
    <h3>Схема Коломенского кремля</h3>
    <img src="/img/kremlin_cheme.jpg" alt="Схема Коломенского Кремля">
</a>

    <a href="/gallery">
        <h3>Фото</h3>
        <img src="/img/photos.png" alt="Фото">
    </a>

    <a href="/videos">
        <h3>Видео</h3>
        <img src="/img/videos.png" alt="Видео">
    </a>

</div>



