<div id="sidebar">

     <div class="sidebar-katalog">
        <a href="/catalog" class="head">Каталог</a>
        <repeat group="{{@marks}}" value="{{@mark}}">
            <a href="/catalog/{{@mark.id}}" class="item">
                <span>
                    <check if="{{isset(@mark.logo_small_url)}}">
                        <img src="/images/logos/{{@mark.logo_small_url}}" alt="{{@mark.name}} logo" />
                    </check>
                    </span>
                {{@mark.name}}</a>
        </repeat>
    </div>

    <img src="/images/vikup.jpg" alt="выкуп битых автомобилей Коломна" />
</div>